@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.ttf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.ttf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.ttf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.ttf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
  font-weight: 400;
}
body {
  margin: 0 auto;
  width: 1920px;
}

*::before,
::after,
:active,
:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

.header-top {
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url(../img/photo.jpg);
  width: 100%;
  min-height: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-repeat: no-repeat;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  background-size: cover;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0 0 0;
  min-height: 58px;
}

.header-logo {
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  letter-spacing: -0.04em;
  padding: 40px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  min-height: 58px;
}

.logo-icon {
  fill: #fff;
}

.header-logo:hover .logo-icon {
  fill: #c7b299;
}

.header-logo:hover .header-logo-txt {
  color: #c7b299;
}

.header-logo:active .logo-icon {
  fill: white;
}

.header-logo:active .header-logo-txt {
  color: white;
}

.logo-icon {
  fill: white;
}

.header-navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}
.header-navbar__ul .header-navbar__li {
  margin: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-navbar__ul .header-navbar__li:nth-child(9) {
  padding: 0 0 0 63px;
}
.header-navbar__ul .header-navbar__li .header-navbar__link {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #ffffff;
}
.header-navbar__ul .header-navbar__li .header-navbar__link:hover {
  color: #c7b299;
  fill: #c7b299;
}
.header-navbar__ul .header-navbar__li .header-navbar__link:active {
  color: #ffffff;
  fill: #ffffff;
}

.header-content {
  width: 100%;
  min-height: 600px;
  padding: 0 150px 40px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  min-height: 75px;
  text-decoration: none;
  padding: 0;
  background-image: url(../img/arrow_left.svg);
  background-size: cover;
  color: #ffffff;
  opacity: 0.5;
}
.header-content__left:hover {
  opacity: 1;
}
.header-content__left:active {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  min-height: 75px;
  text-decoration: none;
  padding: 0;
  background-image: url(../img/arrow_right.svg);
  background-size: cover;
  color: #ffffff;
  opacity: 0.5;
}
.header-content__right:hover {
  opacity: 1;
}
.header-content__right:active {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fontello-icon-header {
  color: #d3c1ad;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
}
.fontello-icon-header:hover {
  color: #ffffff;
}
.fontello-icon-header:active {
  color: #d3c1ad;
}

.header-content__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 589px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: break-all;
}
.header-content__center .header-content-h2 {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}
.header-content__center .header-content-h1 {
  font-family: Raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
}
.header-content__center .header-content-txt {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  width: 568px;
  display: block;
  text-align: center;
  margin: 19px 0 0 0;
}
.header-content__center .btn-link {
  width: 170px;
  min-height: 53px;
  background-color: #998675;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 52px 0 0 0;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  color: #ffffff;
}
.header-content__center .btn-link .btn-link-txt {
  margin: 0;
}
.header-content__center .btn-link:hover {
  background-color: #ffffff;
  color: #998675;
}
.header-content__center .btn-link:active {
  background-color: #998675;
  color: #ffffff;
}

.header-content__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content__bottom .carusel {
  width: 11px;
  min-height: 11px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 10px 0 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-content__bottom .carusel:nth-child(5) {
  margin: 0;
}
.header-content__bottom .carusel:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  border: 2px solid #d3c1ad;
  background-color: transparent;
  opacity: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-content__bottom .carusel:active {
  border: 2px solid #d3c1ad;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0);
}

.main-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1920px;
  max-width: 100%;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1920px;
  max-width: 100%;
  padding: 80px 375px 80px 375px;
}
.features .features-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 286px;
  min-height: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 266px;
}
.features .features-element:after {
  content: "";
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1eee9;
  height: 3px;
}
.features .features-element .features-element-icon {
  margin: 0 0 30px 0;
  fill: #555555;
}
.features .features-element .features-element-h3 {
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 20px 0;
}
.features .features-element .features-element-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  display: block;
  text-align: center;
  margin: 0 0 30px 0;
}
.features .features-element:hover .features-element-icon {
  fill: #c7b299;
}
.features .features-element:hover .features-element-h3 {
  color: #c7b299;
}
.features .features-element:hover:after {
  background-color: #c7b299;
}

.ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fbfaf8;
  width: 100%;
  padding: 80px 345px 0 345px;
}
.ideas .ideas-h2 {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}
.ideas .ideas-txt {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  display: block;
  max-width: 757px;
  margin: 0 0 40px 0;
}
.ideas .ideas-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.ideas .ideas-img .ideas-img__left {
  position: absolute;
  left: 0;
  z-index: 1;
}
.ideas .ideas-img .ideas-img__left:hover {
  z-index: 3;
}
.ideas .ideas-img .ideas-img__center {
  position: relative;
  z-index: 2;
}
.ideas .ideas-img .ideas-img__right {
  position: absolute;
  right: 0;
  z-index: 1;
}
.ideas .ideas-img .ideas-img__right:hover {
  z-index: 3;
}

.purchase {
  width: 100%;
  min-height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.purchase .purchase-wrp {
  padding: 48px 0 48px 375px;
}
.purchase .purchase-wrp .purchase-h2 {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.purchase .purchase-wrp .purchase-h2__brown {
  color: #c7b299;
}
.purchase .purchase-wrp .purchase-txt {
  margin: 0;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}
.purchase .btn-link-purchase {
  width: 170px;
  min-height: 53px;
  background-color: #998675;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  color: #ffffff;
  margin: 50px 375px 50px 0;
}
.purchase .btn-link-purchase:hover {
  background-color: #ffffff;
  color: #998675;
}
.purchase .btn-link-purchase:active {
  background-color: #998675;
  color: #ffffff;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .projects-h2 {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0 24px 0;
}
.projects .projects-txt {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 40px 0;
  width: 757px;
  display: block;
  text-align: center;
}
.projects .projects-category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 48px 0;
}
.projects .projects-category .projects-category-btn {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  text-decoration: none;
  margin: 0 10px 0 0;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .projects-category .projects-category-btn:nth-child(5) {
  margin: 0;
}
.projects .projects-category .projects-category-btn .projects-category-btn-txt {
  padding: 0 21px 0 21px;
}
.projects .projects-category .projects-category-btn:hover {
  background-color: #998675;
  color: #fff;
}
.projects .projects-category .projects-category-btn:active {
  background-color: #fff;
  color: #8c8c8c;
}

.gallery-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 375px 0 375px;
}
.gallery-pic .card {
  margin: 0 30px 30px 0;
  padding: 0;
  background-color: #fbfaf8;
  position: relative;
  overflow: hidden;
}
.gallery-pic .card:after {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -100%;
  width: 100%;
  height: 237px;
  padding: 106px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  opacity: .7;
  background-color: #111;
  z-index: 1;
}
.gallery-pic .card:hover {
  background-color: #362f2d;
  position: relative;
}
.gallery-pic .card:nth-child(3n) {
  margin: 0 0 30px 0;
}
.gallery-pic .card .card-img {
  display: block;
}
.gallery-pic .card .card-body {
  text-align: left;
  padding: 30px 0 30px 30px;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gallery-pic .card .card-body::before {
  content: '';
  position: absolute;
  background-color: transparent;
  top: -8px;
  left: 20px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}
.gallery-pic .card .card-body .card-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  margin: 0;
}
.gallery-pic .card .card-body .card-subtitle {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  margin: 0;
}

.video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-image: url(../img/video.jpg);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 705px;
}

.video-content {
  padding: 210px 685px 0 685px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-btn {
  border: none;
  background-color: transparent;
  margin: 0 0 45px 0;
  position: relative;
  display: block;
  width: 100%;
}
.video-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.video-btn:active {
  opacity: 0.67;
}
.video-btn:after {
  border-radius: 50%;
  background-color: black;
  opacity: 0.2;
  position: absolute;
  right: 225px;
  top: -10px;
  width: 100px;
  height: 100px;
  content: '';
  z-index: 1;
}

.video-btn-img {
  fill: #fff;
  position: relative;
  z-index: 2;
}

.video-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.video-subtitle {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffff;
}

.video-timer {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 695px;
}

.mobile-img {
  margin: 0 0 0 423px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mobile-h2 {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.mobile-txt {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0;
  margin: 40px 0 0 0;
  max-width: 658px;
}

.mobile__ul {
  list-style-type: none;
  margin: 45px 0 0 0;
}

.mobile__li {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
}

.mobile__li-img {
  margin: 0 29px 0 0;
  position: relative;
  top: 5px;
}

.stat {
  width: 100%;
  min-height: 300px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stat-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 69px 0 60px 0;
  width: 180px;
}
.stat-elem:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 30px 0 0 0;
}

.stat-img {
  fill: #c7b299;
  margin: 0 0 30px 0;
}

.stat-title {
  font-family: Montserrat;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  width: 100%;
}

.stat-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  text-transform: uppercase;
  width: 100%;
  margin: 21px 0 0 0;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 735px;
}

.posts-h2 {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  padding: 82px 0 0 0;
  display: block;
  width: 100%;
  text-align: center;
}

.posts-txt {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  width: 758px;
  display: block;
  text-align: center;
}

.posts-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 375px 0 375px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts-content {
  width: 370px;
  height: 395px;
  border: 1px solid #f8f8f8;
  position: relative;
}
.posts-content:hover {
  background-color: #362f2d;
  border: 1px solid transparent;
}
.posts-content:hover .posts-content-h2 {
  color: #c7b299;
}
.posts-content:hover .posts-content-txt {
  color: #fff;
}
.posts-content:hover .date-num {
  background-color: #c7b299;
}
.posts-content:hover .date-m {
  background-color: #a48d72;
}

.posts-content-h2 {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin: 30px 0 0 29px;
}

.posts-content-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 19px 0 27px 29px;
}

.posts-content-bottom {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  margin: 0 0 0 29px;
}

.date {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 20px;
}

.date-num {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  width: 50px;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  margin: 0;
  padding: 9px 0 9px 0;
  display: block;
}

.date-m {
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 50px;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  margin: 0;
  padding: 7px 0 7px 0;
  display: block;
}

.posts-carusel {
  top: 185px;
  left: 135px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 0;
  position: absolute;
}

.carusel {
  opacity: 0.3;
  display: block;
  margin: 0 10px 0 0;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.carusel:last-child {
  margin: 0;
}
.carusel:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  border: 2px solid #d3c1ad;
  background-color: transparent;
  opacity: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recent-btn {
  margin: 0 10px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: cover;
  outline-offset: 0;
  height: 22px;
  width: 22px;
  fill: #d1d1d1;
}
.recent-btn:last-child {
  margin: 0;
}

.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/bg_bottom.jpg);
  background-size: cover;
  padding: 138px 405px 138px 405px;
  width: 100%;
}

.partner-link:hover .partner-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.partner-link:active {
  opacity: .67;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 375px 80px 375px;
  background-color: #191919;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.footer .header-logo {
  padding: 0;
  margin: 0 0 30px 0;
}
.footer .posts-content-bottom {
  color: #d1d1d1;
  margin: 0;
}

.footer-element {
  margin: 0;
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.buds {
  margin: 20px 0 0 0;
}

.footer-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  margin: 0 0 30px 0;
}

.footer-title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 30px 0;
}

.footer-post-link {
  margin: 0 0 20px 0;
  border-bottom: 2px solid #252525;
  padding: 0 0 20px 0;
}
.footer-post-link:hover .footer-post-subtitle {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer-post-link:hover .footer-post-txt {
  color: #c7b299;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-post-subtitle {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  display: block;
}

.footer-post-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}
.footer-post-txt a {
  color: #00bff3;
}

.twitter-post {
  margin: 0 0 20px 0;
  border-bottom: 2px solid #252525;
  padding: 0 0 20px 0;
}

.footer-img {
  margin: 0 10px 10px 0;
}
.footer-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.footer-img:nth-child(3) {
  margin: 0;
}
.footer-img:nth-child(4) {
  margin: 0 10px 0 0;
}
.footer-img:nth-child(5) {
  margin: 0;
}

.footer-links {
  background-color: #111111;
}

.footer-links {
  padding: 45px 375px 50px 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #111111;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.links-item, .links-item-link {
  display: block;
  border-right: 1px solid #252525;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
}
.links-item:last-child, .links-item-link:last-child {
  border: none;
}

.brand {
  color: #959595;
}
