@mixin wrp-size($wsize, $hsize) {
    width: $wsize;
    min-height: $hsize;
}

// @mixin display-flex {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     flex-wrap: wrap;
// }

@mixin text($family, $size, $height, $weight, $color) {
    font-family: $family;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color: $color;
}

body {
    margin: 0 auto;
    width: 1920px;
}

*::before,
::after,
:active {
    transition: 0.4s;
}

button {
    outline: none;
}

.header-top {
    background-color: rgba(17,17,17,0.7);
    background-image: url(../img/photo.jpg);
    @include wrp-size(100%, 1024px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    align-items: flex-start;
    max-width: 100%;
    background-size: cover;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
    min-height: 58px;
}
 
.header-logo {
    @include text(Raleway,34px, 1.2, 400, #ffffff);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    letter-spacing: -0.04em;
    padding: 40px 0 0 0;
    align-items: center;
    @include wrp-size(180px, 58px);
}

.logo-icon {
    fill: #fff;
}

.header-logo:hover .logo-icon {
    fill: #c7b299;
}
  
.header-logo:hover .header-logo-txt {
    color: #c7b299;
}
  
.header-logo:active .logo-icon {
    fill: white;
}
  
.header-logo:active .header-logo-txt {
    color: white;
}
  
.logo-icon {
    fill: white;
}

.header-navbar__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    // padding: 18px 0 0 0;
    .header-navbar__li {
        margin: 0 30px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(9) {
            padding: 0 0 0 63px;
        }
        .header-navbar__link {
            text-decoration: none;
            @include text(Montserrat, 14px, 1.2, 300, #ffffff);
            display: flex;
            justify-content: center;
            fill: #ffffff;
            &:hover {
                color:#c7b299;
                fill: #c7b299;
            }
            &:active {
                color: #ffffff;
                fill: #ffffff;
            }
        }
    }
}
.header-content {
    @include wrp-size(100%, 600px);
    padding: 0 150px 40px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // margin: 274px 0 0 0;
    align-content: space-between;
    justify-content: space-between; 
}

.header-content__left {
    display: flex;
    justify-content: center;
    @include wrp-size(45px, 75px);
    text-decoration: none;
    padding: 0;
    background-image: url(../img/arrow_left.svg);
    background-size: cover;
    color: #ffffff;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 1;
        transform: scale(1.2);
    }
}

.header-content__right {
    display: flex;
    justify-content: center;
    @include wrp-size(45px, 75px);
    text-decoration: none;
    padding: 0;
    background-image: url(../img/arrow_right.svg);
    background-size: cover;
    color: #ffffff;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 1;
        transform: scale(1.2);
    }
}

.fontello-icon-header {
    color: #d3c1ad;
    font-size: 60px;
    display: flex;
    justify-content: center;
    width: 40px;
    &:hover {
        color: #ffffff;
    }
    &:active {
        color: #d3c1ad; 
    }
}

.header-content__center {
    display: flex;
    flex-direction: column;
    width: 589px;
    align-items: center;
    word-break: break-all;   
    .header-content-h2 {
        @include text(Raleway,36px, 1.2, 500, #ffffff);
    }
    .header-content-h1 {
        @include text(Raleway,52px, 1.2, 800, #ffffff);
    }
    .header-content-txt {
        @include text(Montserrat,16px, 24px, 300, #ffffff);
        width: 568px;
        display: block;
        text-align: center;
        margin: 19px 0 0 0;
    }
    .btn-link {
        @include wrp-size(170px, 53px);
        background-color: #998675;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
        word-break: break-all;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 52px 0 0 0;
        @include text(Raleway,14px, 23px, 800, #ffffff);
        .btn-link-txt {
            margin: 0;
        }
        &:hover {
            background-color: #ffffff;
            color: #998675;
        }
        &:active {
            background-color: #998675;
            color: #ffffff;
        }
    }
}

.header-content__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .carusel {
        // display: flex;
        @include wrp-size(11px, 11px);
        background-color: #ffffff;
        opacity: 0.5;
        border-radius: 50%;
        margin: 0 10px 0 0;
        display: block;
        box-sizing: border-box;
        &:nth-child(5) {
            margin: 0;
        }
        &:hover {
            transform: scale(1.4);
            border: 2px solid #d3c1ad;
            background-color: transparent;
            opacity: 1;
            box-sizing: border-box;   
        }
        &:active {
            border: 2px solid #d3c1ad;
            transform: scale(1.2);
            background-color: rgba(255,255,255,0);
        }
    }
}

.main-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1920px;
    max-width: 100%;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 1920px;
    max-width: 100%;
    padding: 80px 375px 80px 375px;
    .features-element {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @include wrp-size(286px, 220px);
        box-sizing: border-box;
        max-width: 266px;
        &:after {
            content: "";
            width: 70px;
            display: flex;
            background-color: #f1eee9;
            height: 3px;
        }
        .features-element-icon {
            margin: 0 0 30px 0;
            fill: #555555;
        }
        .features-element-h3 {
            @include text(Raleway, 22px, 1.2, 600, #555555);
            margin: 0 0 20px 0;
        }
        .features-element-txt {
            @include text(Montserrat, 14px, 24px, 300, #8c8c8c);
            display: block;
            text-align: center;
            margin: 0 0 30px 0;
        }
        &:hover .features-element-icon {
            fill: #c7b299;
        }
        &:hover .features-element-h3 {
            color: #c7b299;
        }
        &:hover:after {
            background-color: #c7b299;
        }
    }
}

.ideas {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #fbfaf8;
    width: 100%;
    padding: 80px 345px 0 345px;
    .ideas-h2 {
        @include text(Raleway, 30px, 1.2, 600, #555555);
        display: block;
        width: 100%;
        margin: 0 0 24px 0;
    }
    .ideas-txt {
        @include text(Montserrat, 16px, 28px, 300, #8c8c8c);
        display: block;
        max-width: 757px;
        margin: 0 0 40px 0;
    }
    .ideas-img {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 0;
        justify-content: center;
        width: 100%;
        .ideas-img__left {
            position: absolute;
            left: 0;
            z-index: 1;
            &:hover {
                z-index: 3;
            }
        }
        .ideas-img__center {
            position: relative;
            z-index: 2;
        }
        .ideas-img__right {
            position: absolute;
            right: 0;
            z-index: 1;
            &:hover {
                z-index: 3;
            }
        }
    }
}
.purchase {
    @include wrp-size(100%, 150px);
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
    .purchase-wrp {
        padding: 48px 0 48px 375px;
        .purchase-h2 {
            @include text(Raleway, 28px, 1.2, 400, #ffffff);
        }
        .purchase-h2__brown {
            color: #c7b299;
        }
        .purchase-txt {
            margin: 0;
            @include text(Montserrat, 18px, 1.2, 300, #615855);
        }
    }
    .btn-link-purchase {
        width: 170px;
        min-height: 53px;
        background-color: #998675;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
        word-break: break-all;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include text(Raleway, 14px, 23px, 800, #ffffff);
        margin: 50px 375px 50px 0;
        &:hover {
            background-color: #ffffff;
            color: #998675;
        }
        &:active {
            background-color: #998675;
            color: #ffffff;
        }
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    .projects-h2 {
        @include text(Raleway, 30px, 1.2, 600, #555);
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 80px 0 24px 0;
    }
    .projects-txt {
        @include text(Montserrat, 16px, 28px, 300, #8c8c8c);
        margin: 0 0 40px 0;
        width: 757px;
        display: block;
        text-align: center;
    }
    .projects-category {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 48px 0;
        .projects-category-btn {
            @include text(Montserrat, 14px, 21px, 300, #8c8c8c);
            text-decoration: none;
            margin: 0 10px 0 0;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            min-height: 32px;
            display: flex;
            align-items: center;
            &:nth-child(5) {
                margin: 0;
            }
            .projects-category-btn-txt {
                padding: 0 21px 0 21px;
            }
            &:hover {
                background-color: #998675;
                color: #fff;
            }
            &:active {
                background-color: #fff;
                color: #8c8c8c;
            }
        }
    }
}

.gallery-pic {
    display: flex;
    flex-wrap: wrap;
    padding: 0 375px 0 375px;
    .card {
        margin: 0 30px 30px 0;
        padding: 0;
        background-color: #fbfaf8;
        position: relative;
        overflow: hidden;
        &:nth-child(3n) {
            margin: 0 0 30px 0;
        }
        .card-img {
            display: block;
        }
        .card-body{
            text-align: left;
            padding: 30px 0 30px 30px;
            position: relative;
            display: block;
            box-sizing: border-box;
            &::before {
                content: '';
                position: absolute;
                background-color: transparent;
                top: -8px;
                left: 20px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 10px solid #fbfaf8;
        }
        // &:after {
        //     content: '';
        //     position: absolute;
        //     box-sizing: border-box;
        //     top: -100%;
        //     width: 100%;
        //     height: 237px;
        //     padding: 106px 0 0 0;
        //     display: flex;
        //     justify-content: center;
        //     align-items: flex-start;
        //     overflow: hidden;
        //     opacity: .7;
        //     background-color: #111;
        //     z-index: 1;
        // }
        // &::hover {
        //     background-color: #362f2d;
        //     position: relative;
        // }
        .card-title {
            @include text(Raleway, 20px, 1.2, 500, #c7b299);
            margin: 0;
        }
        .card-subtitle {
            @include text(Montserrat, 14px, 20px, 300, #d1d1d1);
            margin: 0;
        }

    }
    // .card-btn {
    //     background-color: transparent;
    //     border: none;
    //     padding: 0 0 0 0;
    //     top: -100px;
    //     position: absolute;
    //     z-index: 2;
    // }
    // .card-btn-link, .card-btn-link:active {
    //     background-image: url(../img/link.svg);
    //     background-size: cover;
    //     left: 40%;
    //     height: 28px;
    //     width: 28px;
    //     &:hover {
    //         background-image: url(../img/link-h.svg);
    //     }
    // }
    // .card-btn-search, .card-btn-search:active {
    //     background-image: url(../img/search.svg);
    //     background-size: cover;
    //     right: 40%;
    //     height: 27px;
    //     width: 29px;
    //     &:hover {
    //         background-image: url(../img/search-h.svg);
    //     }
    // }
}
}
.video {
    position: relative;
    display: flex;
    text-align: center;
    background-image: url(../img/video.jpg);
    flex-wrap: wrap;
    width: 100%;
    min-height: 705px;
}
.video-content {
    padding: 210px 685px 0 685px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video-btn {
    border: none;
    background-color: transparent;
    margin: 0 0 45px 0;
    position: relative;
    &:hover {
        transform: scale(1.2);
        padding: 0 0 0 0;
        outline: none;
    }
    &:active {
        opacity: 0.67;
    }
    &:after {
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        opacity: 0.2;
        position: absolute;
        left: -10px;
        top: -10px;
        width: 100px;
        height: 100px;
        content: '';
        z-index: 1;
    }
}
.video-btn-img {
    fill: #fff;
    position: relative;
    z-index: 2;
}
.video-title {
    @include text(Raleway, 30px, 1.2, 500, #ffffff);
}
.video-subtitle {
    @include text(Montserrat, 16px, 28px, 300, #ffff);
}
.video-timer {
    @include text(Montserrat, 14px, 24px, 400, #c7b299);
}